
  html, body {
    margin: 0;
    padding-bottom: 32px;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    align-content: center;
    align-items: center;
    text-align: center; 
  }
  
  A:link {text-decoration: none; }
  A:visited {text-decoration: none; }
  A:active {text-decoration: none; }
  A:hover {text-decoration: none; }
  A:focus {outline: 0;}

  body {
    background-color: #F5F1DF;
    padding: 0;
    margin-bottom: -40px;
  }
  
  
  header {
    max-width: 100vw;
overflow: hidden;
    }
    
    
  .hero {
    z-index: -10;
    position: absolute;
    width: 100vw;
    overflow: visible;
    min-height: 130vh;
  }
  
  .hero img {
    display: block;
    position: absolute;
    height: 200vh;
    width: 100vw;
    margin-top: -36.5vh;
    overflow: visible;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  
  .download {
    margin-left: 836px;
    display: block;
    overflow: visible;
  	position: absolute;
  	width: 194px;
  	height: 112px;
    transition: 0.35s;
  }
  
  .download-button {
  	width: 268px;
  	height: 90px;
    transition: 0.35s;
  }
  
  .download-qr {
    margin-top: -20px;
    margin-left: -900px;
    display: block;
    overflow: visible;
  	position: absolute;
  	width: 112px;
  	height: 112px;
    transition: 0.35s;
  }
  
  .download-qr img {
    border-radius: 8px;
  }
    
  .hero-iphone {
    height: 638px;
 	  width: 313px;
    background: url(gfx/hero-iphone@2x.png);
    background-size: 313px 638px;
  	background-repeat: no-repeat;
  	background-position: center center;
  	margin: 40px 0px 80px 0px;
    transition: 0.35s;
  }
  
/*
  .dark-video {
    display: none;
  }
*/
    
  .video {
    height: 610px;
    width: 281px;
    margin-top: 14px;
  	border-radius: 30px;
    transition: 0.35s;
  }
  
  .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 95%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  .flourish-logo {
    margin-top: 48px;
    transition: 0.35s;
    filter: drop-shadow( 0 0 32px rgba(0, 0, 0, 1));}
  }
  .vignette {
    font-size: 1.8em;
    margin: 0 0 1vw 0;
    transition: 0.35s;
  }

  h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-weight: bold;
    font-size: 16px;
    color: #06790F;
    margin: 0;
    padding: 0;
  }

  .tagline {
    font-size: 48px;
    font-weight: bold;
    font-family: -apple-system-ui-serif, ui-serif, 'Georgia', serif;
    display: inline;
    position: relative;
  }

  .cards {
    max-width: 1400px;
    margin-top: 64px;
    margin-bottom: 0;
  }
  
  .card {
    transition: 0.35s; 
    background-color: white;
    border-radius: 32px;
    padding: 32px;
    margin: 12px 12px 16px 12px;
    max-width: 312px;
    min-height: 340px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.06);
  }
  
  .company {
    border-top: 8px solid rgba(0, 0, 0, 0.08);
    width: 100%;
    margin-top: 80px;  
    padding-top: 48px;
  }
  
  .blog-card {
    font-family: -apple-system-ui-serif, ui-serif, 'Georgia', serif;
    transition: 0.35s; 
    margin: 12px 12px 16px 12px;
    max-width: 324px;
    min-height: 340px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  
  .blog-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0;
    padding: 0;
  }

  .blog-card h2, .blog-card h3 {
    margin-top: 12px;
  }
  
  .blog-card h2 {
      color: black;
  }   
     
   .video-card {
    text-align: left;
    margin: auto;
    margin-top: 80px;
    padding: 0;
    max-width: 1336px;
  }
  
  .video-card video {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 128px;
    overflow: hidden;
  }
  
  .card h1  {
    font-size: 24px;
  }
  
  .card p {
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    padding: 0;
  }
  
  .buttons {
    max-width: 364px;
    text-align: center;
  }
  
  .button {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    width: 334px;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
	  transition: 0.15s;
	  margin-bottom: 8px;
  }

  .button-primary {
    margin-top: 40px;
    color: white;
    background-color: black;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.16); 
  }
  
  .button-secondary {
    margin-top: 16px;
    color: black;
    background-color: white;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.16); 
  }
  
  .button-tertiary {
    margin-top: 16px;
    color: black;
  }
  
  .button-primary:hover {
	  background-color: #676772;		  
    box-shadow:none;
  }
	
  .button-secondary:hover {
	  background-color: rgba(120, 120, 128, 0.16);
    box-shadow:none;
  }
  
  .button-tertiary:hover {
	  background-color: rgba(120, 120, 128, 0.16);
  }
  
  header a:active {
    opacity: 0.7;
  }
  
  .background-fade {
    background: linear-gradient(0deg, rgba(245,241,223,1) 0%, rgba(245,241,223,0) 100%);
    width: 100%;
    margin-top: -280px;
    height: 280px;
  }

  .bend {
    bottom: -1px;
    height: auto;
    width: 102vw;
    left: -1vw;
    margin-top: -1px;
    margin-bottom: 16px;
  }
    
  .social-footer {
    padding: 0;
    margin: 0;
  }
  
  .social-footer img {
    margin: 24px 22px 24px 22px;
  }

  
  footer {
    font: -apple-system-footnote;
    font-size: 11px;
    text-align: center;
    color: #7f7f7f;
    padding-bottom: 8px;
    overflow: hidden; 
    background-color: white;
    margin-top: 60px;
  }
  
  .copyright-notice {
    margin-left: 16px;
    margin-right: 16px;  
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  .copyright-notice a {
    color: black;
    text-decoration: underline;
  }
  
  .copyright-notice a:hover {
    opacity: 0.7;
  }
  
  .plantry {
    width: 220px;
    height: auto;
    margin: 40px;
  }
  .makers {
    font-variant: small-caps;
    letter-spacing: 5.5px;
    position: relative;
    top: 35px;
  }
  
  

  
  /* Butterfly */
  
.butterfly {
    margin-top: -1010px;
    margin-left: 400px;
    display: block;
  	position: absolute;
  	width: 0;
  	height: 0;
    transition: 0.35s;  
    -webkit-perspective: 600px;
    -webkit-perspective-origin: 0% 0%;
    }
    

div#butterfly{
    position absolute;
    -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
    -webkit-transform-origin: 80% 50%;
    left:0px;
    top:0px;
    width: 366px;
    height: 208px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: butterflyani;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes butterflyani {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-300px, 350px, 0px);
    }
    25% {
        -webkit-transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-300px, 350px, 0px);
    }
    50% {
        -webkit-transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-300px, 350px, 0px);
    }
    75% {
        -webkit-transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-300px, 350px, 0px);
    }
    to{
        -webkit-transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-300px, 350px, 0px);
    }
}

div#rightwing{
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0px, 0px) rotate3d(0, 1, 0, 180deg) ;
    -webkit-transform-origin: top right;
    position: absolute;
    left:178px;
    top:0px;
    width: 178px;
    height: 208px;
    background-image: url(gfx/wing.png);
    background-repeat:no-repeat;
    -webkit-animation-name: rightwingani;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rightwingani {
    from {
        -webkit-transform:rotateX(90deg) translate3d(-178px, 0px, 0px) rotate3d(0, 1, 0, 180deg);
    }
    50% {
        -webkit-transform:rotateX(90deg) translate3d(-178px, 0px, 0px) rotate3d(0, 1, 0, 100deg);
    }
    to{
        -webkit-transform:rotateX(90deg) translate3d(-178px, 0px, 0px) rotate3d(0, 1, 0, 180deg);
    }
}

div#leftwing{
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg) ;
    position: absolute;
    -webkit-transform-origin: top right;
    left:0px;
    top:0px;
    width: 178px;
    height: 208px;
    background-image: url(gfx/wing.png);
    background-repeat: no-repeat;
    -webkit-animation-name: leftwingani;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes leftwingani {
    from {
        -webkit-transform:rotateX(90deg) rotate3d(0, 1, 0, 0deg);
    }
    50% {
        -webkit-transform:rotateX(90deg) rotate3d(0, 1, 0, 80deg);
    }
    to{
        -webkit-transform:rotateX(90deg) rotate3d(0, 1, 0, 00deg);
    }
}
  
 
  
  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    .blog-card h2 {
      color: white;
    }   
    
    .blog-card h3 {
      color: #81FF97;
    }   
    
  .company {
    border-top: 8px solid rgba(255, 255, 255, 0.12);
  }
    
    body { background: #091125; }
    .wrapper { color: #fff; }
    .bend path { fill: #091125; }
    .hero { background-color: #1A1B20; }
/*
    .dark-video { display: inline; }
    .light-video { display: none; }
*/
    .download-button, .download-qr {
      -webkit-filter: invert(1);
      filter: invert(1);}
    .invertInDarkMode {
     -webkit-filter: invert(1);
     filter: invert(1);    
    }
    .button-primary {color: black; background-color: white;}
    .button-secondary {color: white; background-color: rgba(255, 255, 255, 0.1); box-shadow: none;}
    .button-tertiary {color: white;}
    .button-primary:hover { background-color: rgba(255, 255, 255, 0.6); }
  	.button-secondary:hover { background-color: rgba(120, 120, 128, 0.16);}
  	.button-tertiary:hover { background-color: rgba(120, 120, 128, 0.16);}
  	.hero-iphone { background: url(gfx/hero-iphone-dark@2x.png); background-size: 313px 638px; background-repeat: no-repeat; background-position: center center; }
/*
    .flourish-logo {  
      -webkit-filter: invert(1) drop-shadow( 0 0 32px rgba(0, 0, 0, 1));
      filter: invert(1)  drop-shadow( 0 0 32px rgba(0, 0, 0, 1));}
*/
    .card { background-color: rgba(255, 255, 255, 0.12); }
    footer { background-color: black;}
    .copyright-notice a { color: white; }
    
  
    .award {
    	background: url(gfx/awardDarkMode@2x.png);
      background-size: 290px 142px;
    	background-repeat: no-repeat;
    	background-position-y: 35px;
    }
   
    .articlequote p {
      color: #8C8C8C;
    }
    
    .articlequote b {
      color: white;
    }
    
    .review p {
      color: #8C8C8C;
    }
    
    .review b {
      color: white;
    }
  }

  
  /* Download button swap */
  @media screen and (min-width: 1053px) {     
    .download, .download-qr {
      display: block;
    }
    .download-top {
      display: none;
    }
  }

  @media screen and (max-width: 1052px) {     
    .download, .download-qr {
      display: none;
    }
    .download-top {
      display: block;
      margin-top: 40px;
    }
    .download-button {
    	width: 200px;
    	height: auto;
    }
  }
  
  /* Tablet landscape */
  @media screen and (max-height: 920px) {   
    .hero img {
      height: 160vh;
      width: 100vw;
      margin-top: -22vh;
    }

  }
    
  /* Mobile Lanscape */
  @media screen and (max-height: 567px) {   
    .hero img {
      height: 300vh;
      width: 100vw;
      margin-top: 0;
    }
  }
  
	  
  /* Very tall & narrow */
  @media screen and (max-width: 1538px) and (min-height: 1200px) {
      .hero img {
      height: 150vh;
      width: 100vw;
      margin-top: -22vh;
    } 
  }
    	  
  /* Laptop */
  @media screen and (max-width: 1538px) {
  
  
    .download {
      margin-left: 636px;
    }

    .download-qr {
      margin-left: -686px;    
    }

    .cards {
      margin-top: 40px;
      margin-bottom: 0;
    }
    
    .card {
      border-radius: 24px;
      padding: 24px;
      margin: 10px 10px 18px 10px;
      max-width: 280px;
      min-height: 300px;
      box-shadow:0 4px 8px rgba(0, 0, 0, 0.06);
    }
    
     .video-card {
      margin-left: 32px;
      margin-right: 32px;
    }
    
    .card h1  {
      margin-top: 16px;
      font-size: 22px;
    }
    
    .card p {
      font-size: 17px;
      line-height: 24px;
    }
  }	 

  
  /* Mobile */
  @media screen and (max-width: 580px) {
    .hero img {
      height: 112vh;
      width: 100vw;
      margin-top: -20vh;
    }
    
    .butterfly {
      margin-top: -1200px;
      margin-left: -10px;
    }
    
    .butterfly-footer {
      display: none;
    }

    .buttons { margin-left: 24px; margin-right: 24px;}
		.button { height: 48px; line-height: 48px; width: 100%; border-radius: 24px; font-size: 18px;}
    .button-primary { margin-top: 24px;}
    .button-secondary { margin-top: 12px;}
    
    .vignette { font-size: 19px; }
    h2, .tagline { font-size: 27px; }
		.hero {min-height: 100vh;}
		
    .cards {
      margin-left: 24px;
      margin-right: 24px;
      margin-top: 40px;
    }
    
    .card {
      border-radius: 24px;
      padding: 16px 16px 32px 16px;
      max-width: none;
      min-height: 0;
      margin: 16px 0px;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.06);
    }  

    .blog-card {
      border-radius: 24px;
      padding: 16px 16px 32px 16px;
      max-width: none;
      min-height: 0;
      margin: 0 0px;
    }   
    
    .video-card video {
      border-radius: 0;
    } 
    
   .video-card {
      margin-top: 56px;
      margin-left: 0;
      margin-right: 0;
    }

    .flourish-logo {
      margin-top: 20px;
      width: 300px;
      height: 123.4px;
      filter: drop-shadow( 0 0 16px rgba(0, 0, 0, 1));}
    }
    
    .hero-iphone {
    	margin: 16px 0px 56px 0px;
    }    
    
    footer {
      margin-top: 48px;
  } 

  /* Mobile small */
  @media screen and (max-width: 320px) {
    .vignette { font-size: 19px; }
    h2 { font-size: 23px; }
    .button-primary { margin-top: 16px;}
    .button-secondary { margin-top: 8px;}
    
    .card h1  {
      margin-top: 16px;
      font-size: 18px;
    }
    
    .card p {
      font-size: 1em;
      line-height: 24px;
    }  
  }
  

  
  
  
  
  
  
  
  
  